ws-PruebaEstudio/Connected Services/ServiceReference1/PruebaEstudio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarAlumno">
        <s:complexType />
      </s:element>
      <s:element name="RetornarAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetornarAlumnoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarCuentaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarAlumno" />
  </wsdl:message>
  <wsdl:message name="RetornarAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarCuenta" />
  </wsdl:message>
  <wsdl:message name="VerificarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarCuentaResponse" />
  </wsdl:message>
  <wsdl:portType name="PruebaEstudioSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarAlumno">
      <wsdl:input message="tns:RetornarAlumnoSoapIn" />
      <wsdl:output message="tns:RetornarAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <wsdl:input message="tns:VerificarCuentaSoapIn" />
      <wsdl:output message="tns:VerificarCuentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PruebaEstudioSoap" type="tns:PruebaEstudioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarAlumno">
      <soap:operation soapAction="http://tempuri.org/RetornarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <soap:operation soapAction="http://tempuri.org/VerificarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PruebaEstudioSoap12" type="tns:PruebaEstudioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarAlumno">
      <soap12:operation soapAction="http://tempuri.org/RetornarAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <soap12:operation soapAction="http://tempuri.org/VerificarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PruebaEstudio">
    <wsdl:port name="PruebaEstudioSoap" binding="tns:PruebaEstudioSoap">
      <soap:address location="https://localhost:44360/PruebaEstudio.asmx" />
    </wsdl:port>
    <wsdl:port name="PruebaEstudioSoap12" binding="tns:PruebaEstudioSoap12">
      <soap12:address location="https://localhost:44360/PruebaEstudio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>